PORT=3000
NODE_ENV=local

# TypeORM Configuration
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=incident_db
TYPEORM_SYNCHRONIZE=true


# Rate Limiting Configuration
RATE_LIMITER_ENABLED=true
RATE_LIMITER_WINDOW_MS=60000
RATE_LIMITER_MAX_REQUESTS=250
RATE_LIMITER_STANDARD_HEADERS=true
RATE_LIMITER_LEGACY_HEADERS=false
RATE_LIMITER_MESSAGE=Too many requests. Please try again later.

# Password Hashing
SALT_ROUNDS=10

# Authentication
JWT_ACCESS_SECRET= 7164270439023dd17378afe3c241f581
JWT_REFRESH_SECRET= 2cf0b8c0dba0f23e9e3f07b98074bb03
JWT_ACCESS_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=1d

# Pagination
MAX_PAGINATION_LIMIT=100

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DEFAULT_EXPIRATION=300 # seconds
